<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rajendra.onlineproductsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


	<activity android:name=".Admin"
            android:label="Adminstrative Options"/>

        <activity android:name=".Info_page"
            android:label="The developer's team"/>

        <activity android:name=".checkout"
            android:label="Checkout"/>
        
        <activity android:name=".Productdetails"/>

        <activity android:name=".MainActivity"/>
        
        <activity android:name=".ItemsActivity"
            android:label="Products/ Items Data"/>

        <activity android:name=".ItemView"
            android:label="Adminstrator: View Items stored"/>
        

        <activity android:name=".MainMenu"
            android:label="Main Menu"/>
        
        <activity android:name=".RegistrationActivity"
            android:label="Registration"/>

	    <activity android:name=".UsrData"
            android:label="User Data"/>
            
        <activity android:name=".userView"/>

        <activity android:name=".LoginActivity"
            android:label="Android Authority">


        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
